/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Fonts
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,500italic,700italic,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

h1 { margin: 0; padding: 0;}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 25px;
	line-height: 20px;
	text-transform: uppercase;
	color: #fff;
}

h2 {
	font-weight: 700;
	color: #b32017;
	font-size: 22px;
	line-height: 26px;
	margin: 35px 0 26px 0;
	text-transform: uppercase;
}

h3 {
	font-weight: 700;
	color: #b32017;
	font-size: 16px;
	line-height: 20px;
}

form {
	p { font-weight: 700; }

	input[type="text"],
	input[type="email"]
	{
		height: 25px;
	}

	input[type="text"],
	input[type="email"],
	textarea
	{
		border: 1px solid #c1c1c1;
	    width: 100%;
	    margin-top: 3px;
	}
	.wpcf7-form-control {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.wpcf7-submit {
		width: auto;
		background: #1f518b;
		color: #fff;
		text-transform: uppercase;
		padding: 3px 36px;
		border: none;
	}
}

.read-more {
	display: block;
	margin-top: 10px;
}


/* ==========================================================================
   Base
   ========================================================================== */

html { height: 100%; }

body {
	font-family: 'Roboto', sans-serif;
	background: grey;
	height: 100%;
	transition: 2.5s;
}

body.transition {
	opacity: 0;
}

body.category-projects {
	background: url('../img/backgrounds/projects_landing.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.category-services {
	background: url('../img/backgrounds/services_landing.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.category-careers {
	background: url('../img/backgrounds/careers_landing.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.category-news {
	background: url('../img/backgrounds/news_landing.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -52px;
  /* Pad bottom by footer height */
  padding: 0 0 52px;
}

.home #wrap {
  /* Negative indent footer by its height */
  margin: 0 auto -99px;
  /* Pad bottom by footer height */
  padding: 0 0 99px;
}

/* Front Page Sliders */
#front-page {
	.project-info {
		position: absolute;
		right: 35px;
		bottom: 30px;
		color: #fff;
		font-size: 16px;
		text-align: right;
		padding-top: 30px;
		#project-title {
			font-size: 18px;
			font-family: 'Roboto Slab', serif;
			font-weight: 700;
		}
		#project-location {
			font-weight: 500;
			font-style: italic;
		}
	}
}

body.home {
	#wrap, #front-page {
		height: 100%;
		margin-bottom: -18px;
	}
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner { border: none; margin-bottom: 0; }
.navbar-header {
	a {
		.glyphicon { color: #a6acb0; font-size: 25px; margin-top: 28px; margin-right: 12px; }
	}
}
.navbar-brand {
	height: 81px;
	width: 146px;
	display: block;
	padding: 0;
	margin-left: 30px;
	background: url('../img/logo.png') no-repeat;
}
.navbar-nav {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 0;
}
.nav>li {
	float: left;
	width: 50%;
	text-align: left;
	background: #e4e4e4;
	border-right: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
}
.navbar-toggle { margin-top: 20px; }
.navbar-collapse { border: none; }

/* ==========================================================================
   Home
   ========================================================================== */
body.home {

	background: #fff;

	.blue-box {
		// display: none;
		position: relative;
		overflow: hidden;

		.blue-border-corner {
			height: 12px;
			width: 11px;
			background: url('../img/border/blue-border-corner.gif') no-repeat;
			position: absolute;
		}
		.blue-border-left {
			width: 11px;
			height: 100%;
			position: absolute;
			background: url('../img/border/blue-border-left.jpg') repeat-y;
		}
		.blue-border-top {
			width: 100%;
			height: 12px;
			margin-left: 11px;
			background: url('../img/border/blue-border-top.jpg') repeat-x;
		}
		.blue-box-content {
			background: #196180;
			width: 100%;
			padding: 32px 25px;
			margin-left: 11px;
			color: #fff;
			font-size: 20px;
			line-height: 26px;
			a {
				text-transform: uppercase;
				font-style: italic;
				color: #fff;
				font-size: 14px;
			}
		}
	}

	.white-box {
		position: absolute;
		bottom: 18px;
		display: none;

		.white-border-corner {
			height: 11px;
			width: 11px;
			margin-left: 1px;
			background: url('../img/border/grey-border-top-left.png') no-repeat;
			position: absolute;
		}
		.white-border-left {
			width: 12px;
			height: 236px;
			background: url('../img/border/grey-border-left.png') repeat-y;
		}
		.white-border-bottom-left {
			width: 11px;
			margin-left: 1px;
			height: 27px;
			background: url('../img/border/grey-border-bottom-left.png') right top no-repeat #fff;
		}
		.white-border-top-right {
			width: 12px;
			height: 11px;
			background: url('../img/border/grey-border-top-right.png') no-repeat;
		}
		.white-border-top {
			width: 597px;
			height: 11px;
			margin-left: 11px;
			background: url('../img/border/grey-border-top.png') repeat-x;
		}
		.white-box-content {
			background: #fff;
		}
	}

	#teaser-links {
		li {
			cursor: pointer;
		}
	}

	.teaser-pane {
		display: none;
		h1, h2 {
			font-family: 'Roboto Slab', serif;
			font-size: 18px;
			line-height: 24px;
			color: #005072;
			font-weight: 700;
			margin-top: 0;
		}
		h2 {
			font-size: 20px;
			text-transform: none;
		}
		&#teaser-service {
			h2 { line-height: 34px; margin-top: 5px; }
		}
		&#teaser-news {
			h1 { margin-bottom: 25px; }
			h2 { font-size: 16px; line-height: 20px; }
			.teaser-image {
				text-align: left;
			}
		}
		.teaser-title {
			width: 40%;
			padding: 55px 11px 0 23px;
			a {
				color: #b32017;
				text-transform: uppercase;
				font-style: italic;
				font-weight: 700;
			}
		}
		.teaser-image {
			padding: 35px 30px 0 11px;
			width: 60%;
			height: 228px;
			overflow: hidden;
			text-align: center;
			img {
				width: 100%;
				height: auto;
			}
			a {
				color: #005072;
				font-weight: bold;
				font-size: 16px;
			}
		}
	}

	.red-footer {
		width: 100%;
		background: #b32017;
		margin: 0;
		.container {
			padding: 0 35px;
			ul {
				list-style: none;
				overflow: auto;
				margin-bottom: 0;
			}
			a{
				font-family: 'Roboto Slab', serif;
				font-size: 14px;
				text-transform: uppercase;
				color: #fff;
				line-height: 38px;
				text-decoration: none;
			}
		}
	}
}


/* ==========================================================================
   Content
   ========================================================================== */
.blue-top {
	background: #01364d;
	padding: 0;
	.blue-top-top {
		overflow: auto;
		.dropdown {
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 14px;
			font-weight: 700;
			padding-right: 20px;
			margin-right: 1%;
			line-height: 35px;
			background: url('../img/arrows/arrow_red_down.png') right center no-repeat;
		}
	}
	.blue-top-left {
		background: #005072;
		height: 35px;
		width: 261px;
		padding: 15px 0 0 30px;
		overflow: hidden;
	}
	.blue-top-right {
		position: relative;
		z-index: 1;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 34px 0 0 28px;
		padding-top: 1px;
		border-color: transparent transparent transparent #005072;
	}
	.blue-top-bottom { background: #005072; height: 15px; }
}

// Start Download Project PDF

.dark-blue-top-left {
	height: 35px;
	line-height: 11px;
	width: 276px;
	padding: 13px 0 0 45px;
	overflow: hidden;
	font-size: 13px;
	color: #fff;
	background: url('../img/arrows/arrow_red_right.png') 27px center no-repeat #01364d;
}
.dark-blue-top-right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 34px 0 0 28px;
	padding-top: 1px;
	border-color: transparent transparent transparent #01364d;
}
// End Download Project PDF

.center-content {
	background: #fff;
	opacity: 1;
	overflow: auto;
}
.entry-content {
	font-size: 16px;
	a { color: #005072; }
	h2 {
		margin: 0 0 25px 0;
		text-transform: none;
		color: #005072;
	}
	h3 {
		font-size: 16px;
		line-height: 20px;
		color: #333;
		text-transform: uppercase;
		margin-bottom: 45px;

	}
	img {
		padding-left: 30px;
		height: auto;
		width: 100%;
	}
	p { margin: 0; padding-bottom: 25px; }
}

.entry-summary {
	margin-bottom: 25px;
}

.title-header {
	border-bottom: 1px solid #a3a6a8;
	padding-bottom: 32px;
}

.projects-index {
	padding-bottom: 35px;
	overflow: auto;
	a {
		text-decoration: none;
		text-transform: uppercase;
		color: #005072;
		font-weight: 700;
		font-size: 13px;
		article {
			height: 220px;
			background: #e3e0e0;
			margin-top: 40px;
			.project-image {
				height: 147px;
				background: #005072;
				overflow: hidden;
				img {
					width: 100%;
					height: auto;
				}
			}
			.entry-title {
				padding: 15px;
				padding-top: 10px;
			}
		}
	}
}

.news-index {
	a {
		color: #005072;
		font-size: 18px;
		&.read-more {
			font-style: italic;
			font-size: 16px;
			font-weight: 700;
			margin: 25px 0 0 0;
		}
	}
	article {
		border-bottom: 1px solid #a3a6a8;
		padding-bottom: 6px;
	}
	p { font-size: 16px; line-height: 20px; }
}

.careers-index {
	font-size: 16px;
	line-height: 20px;
	.title-header { padding-bottom: 23px; }
	table {
		border-bottom: 1px solid #a3a6a8;
		border-color: #a3a6a8;
	}
	th {
		font-weight: 700;
		color: #005072;
	}
	td {
		height: 59px;
		padding: 17px 5px !important;
		border-color: #a3a6a8 !important;
	}
	.job-title {
		color: #005072;
		text-decoration: underline;
	}
	.recent{
		background: #a3a6a8;
		padding: 1px 4px;
		text-transform: uppercase;
		margin-right: 10px;
		color: #fff;
	}
}

.careers-sidebar {
	margin-top: 75px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	h2 {
		font-size: 18px;
		line-height: 22px;
		text-transform: none;
		margin-bottom: 0;
	}
	a {
		text-decoration: underline;
		color: #1f518b;
	}
}

.services-index {
	.featured {
		img {
			display: block;
			margin: 40px auto;
		}
	}
}

// Custom Post Styles
.post-23 {
	h2 {
		margin: 0;
		&.entry-title { margin: 35px 0 26px 0; }
	}
	ul { margin-top: -25px; }
}

.page-id-10 {
	.entrytext {
		a {
			text-transform: uppercase;
			color: #005072;
			font-size: 16px;
			padding-left: 20px;
			margin-bottom: 20px;
			display: inline-block;
			background: url('../img/arrows/arrow_red_right.png') left center no-repeat;
		}
	}
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
	ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	}

	li {
	    padding-left: 12px;
	    text-indent: -.7em;
	    padding-bottom: 20px;
	}

	li:before {
	    content: "• ";
	    color: #b32017;
	}
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Contact
   ========================================================================== */

#map-canvas { height: 220px; width: 100%; margin-bottom: 23px; margin-top: 59px;}
.headquarters img { width: 100%; height: auto; }
.blue-border { border: 1px solid #2e80c1; }

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
	background: #6a747c;
	color: #fff;
	font-size: 13px;
	min-height: 52px;
	.container {
		padding: 0 35px;
	}
	a { display: inline-block; text-decoration: none; }
	.address-footer {
		margin-top: 14px;
		line-height: 25px;
		width: 259px;
		span {
			font-size: 13px;
			font-weight: 500;
			&.first { margin-left: 0; }
			&.border {
				display: inline-block;
				background: #fff;
				margin: 0 7px -2px 7px;
				height: 13px;
				width: 1px; }
		}
		.ftp {
			background: #4f575d;
			padding: 0 4px;
			margin-left: 10px;
			border: 1px solid #7f8b95;
			color: #fff;
		}
	}

	.social-footer {
		padding-top: 13px;
		padding-bottom: 20px;
		font-size: 16px;
		line-height: 26px;
		float: left;
		span { margin-right: 10px; }
		a {
			height: 27px;
			width: 27px;
			text-indent: -99999px;
			margin-right: 1px;
			&.linkedin { background: url('../img/social/linkedin.png') no-repeat; }
			&.facebook { background: url('../img/social/facebook.png') no-repeat; }
			&.youtube { background: url('../img/social/youtube.png') no-repeat; }
		}
	}
}

/* ==========================================================================
   Article
   ========================================================================== */
.category-about article, .category-about article {
	display: none;
	&.first-post { display: block; }
}

#sidebar-category {
	list-style: none;
	li {
		a { color: grey; text-decoration: none; }
		&.active {
			a { color: blue; }
		}
	}
}




/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Tablet */
@media (min-width: @screen-sm-min) {

	#front-page {
		.project-info {
			position: relative;
			top: 0;
		}
	}

	/* Slideshow */
	.image-slider {
		background: #eaeae9;
		margin-bottom: 50px;
		padding: 0;
		overflow: hidden;
		.slideshowlink {
			display: none;
		}
		.slider-grey-bar {
			height: 55px;
			background: #9b9b9b;
			color: #fff;
			padding: 20px 0 0 30px;
			.slider-header {
				font-size: 18px;
				line-height: 15px;
				text-transform: uppercase;
				font-family: 'Roboto Slab', serif;
				padding-right: 10px;
				border-right: 2px solid #fff;
				margin-right: 10px;
			}
			.slider-sub-header {
				font-weight: 500;
				font-size: 14px;
			}
		}
		.slider-content {
			position: relative;
			.advance-bar {
				width: 48px;
				background: #000;
				height: 107px;
				opacity: 0.6;
				z-index: 1;
				position: absolute;
				top: 35px;
				cursor: pointer;
				&.right {
					right: 0;
				}
			}
			.advance-arrow {
				position: absolute;
				height: 18px;
				width: 14px;
				top: 79px;
				z-index: 1;
				&.left {
					left: 17px;
					background: url('../img/arrows/arrow_white_left.png') no-repeat;
				}
				&.right {
					right: 17px;
					background: url('../img/arrows/arrow_white_right.png') no-repeat;
				}
			}
		}
		.ngg-galleryoverview {
			width: 9999px;
			margin: 0;
			.ngg-gallery-thumbnail-box {
				margin-right: 1px;
				height: 175px;
				.ngg-gallery-thumbnail {
					img {
						border: none;
						padding: 0;
						margin: 0;
						height: auto;
						width: 265px;
					}
				}
			}
		}
		.slider-bottom {
			height: 42px;
			background: #eaeae9;
		}
	}

	/* Sidebar */
	#sidebar-category {
		margin: 35px 0 35px 20px;
		li {
			padding-left: 15px;
			margin-bottom: 20px;
			background: url('../img/red-cross.png') left 6px no-repeat;
			&.active {
				a { color: #2e80c1; }
			}
			a {
				font-weight: 700;
				color: #666;
				line-height: 20px;
			}
		}
	}
	.drop-down #sidebar-category {
		overflow: auto;
		margin-top: 0;
		margin-bottom: 0;
	}
	aside.about, aside.projects {
		background: #e5e5e4;
		right: -15px;
	}

	/* Home */
	body.home {

		.blue-box {
			position: absolute;
			bottom: 99px;
			bottom: 35px;
			left: 57px;
			.blue-box-content {
				width: 608px;
				height: 245px;
				opacity: 0.8;
			}
			.blue-border-left {
				height: 245px;
			}
			.blue-border-top {
				width: 608px;
			}
		}

		.white-box {
			left: 56px;
			.white-box-content {
				width: 608px;
				height: 263px;
			}
		}

		.red-footer {
			height: 47px;
			.container {
				padding: 0;
				margin: 0;
				.row {
					padding: 0;
					margin: 0;
					ul {
						position: absolute;
						left: 57px;
						li {
							float: left;
							padding: 0 14px;
							a {
								line-height: 47px;
							}
							&.active {
								background: #fff;
								a {
									color: #000;
								}
							}
						}
					}
				}
			}
		}
	}

	/* Header */
	header {
		.container { width: 100%; }
	}
	.navbar-nav { margin-top: 0; }
	.navbar-nav>li>a {
		line-height: 52px;
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.nav>li {
		width: 16.66%;
		border-bottom: none;
		text-align: center;
		&:last-child { border: none; }
	}
	.navbar-form {
		input[type="search"] {
			background: #a2abb2;
			color: #fff;
			width: 214px;
			padding-right: 27px;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
		.glyphicon { left: 210px; top: 5px; font-size: 19px; color: #fff; }
		::-webkit-input-placeholder { color: #fff; }
		:-moz-placeholder { color: #fff; }
		::-moz-placeholder { color: #fff; }
		:-ms-input-placeholder { color: #fff; }
	}

	/* Content */
	.blue-top {
		margin-top: 73px;
	}

	.dark-blue {
		position: absolute;
		right: 0;
	}

	.center-content {
		background-color:rgba(255,255,255,0.9);
		min-height: 350px;
	}

	/* Footer */
	.content-info {
		.container {
			padding: inherit;
		}
		.address-footer { width: 100%; }
		.social-footer { float: right; padding-bottom: 0; }
	}
}

/* Desktop */
@media (min-width: @screen-md-min) {

	/* Front Page Sliders */
	#front-page {
		.project-info {

		}
		.full-screen-controls {
			a {
				width: 47px;
				height: 107px;
				display: inline-block;
				position: absolute;
				top: 50%;
				&.previous {
					left: 0;
					background: url('../img/arrows/arrow_white_left.png') 13px center no-repeat #333;
				}
				&.next {
					right: 0;
					background: url('../img/arrows/arrow_white_right.png') 20px center no-repeat #333;
				}
			}
		}
	}

	/* Header */
	.banner .navbar-nav { float: right; }
	.navbar-brand { margin-left: 15px !important; }
	.navbar-form { margin-top: 23px; }
	.nav>li {
		background: inherit;
		border: none;
		width: auto;
		text-align: left;
	}

	.blue-top {
		background: none;
	}

	.dark-blue {
		position: relative;
		overflow: auto;
		left: -28px;
	}

	/* Project Dropdown Nav */
	.nav {
		li {
			&.open {
				border: 1px solid #dadbdb;
				border-bottom: none;
				margin-top: 13px;
				height: 68px;
				a {
					padding-top: 0;
				}
			}
			.dropdown-menu {
				border-radius: 0;
				border: 1px solid #dadbdb;
				border-bottom: none;
				left: -1px;
				z-index: -1;
				margin-top: -1px;
				padding: 23px 0 0 20px;
				li {
					padding-left: 15px;
					margin-bottom: 15px;
					background: url('../img/red-cross.png') left 6px no-repeat;
					&.menu-download-project-resume-pdf {
						margin-bottom: 0;
						margin-left: -20px;
						height: 40px;
						border-top: 1px solid #dadbdb;
						background: url('../img/arrows/arrow_red_right.png') 18px center no-repeat #dadbdb;
						a {
							line-height: 40px;
							padding: 0 0 0 20px;
							&:hover {
								padding-bottom: 0;
							}
						}
					}
					a {
						padding-left: 0;
						font-size: 13px;
						font-weight: 700;
					}
				}
			}
			.dropdown-menu>.active>a {
				background-color: #fff;
				color: #000;
			}
			.dropdown-menu>li>a:hover {
				background-color: #fff;
				color: #000;
			}
			li.menu-download-project-resume-pdf>a:hover {
				height: 30px;
				background: url('../img/arrows/arrow_red_right.png') 3px 14px no-repeat #dadbdb;
			}
		}
	}

	.nav {
		.dropdown {
			top: 1px;
			background: #fff !important;
		}
	}

	/* Project Dropdown Nav */
}

@media (min-width: @screen-lg-min) { }
