/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Fonts
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,500italic,700italic,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

/* ==========================================================================
   Base
   ========================================================================== */

body { font-family: 'Roboto', sans-serif; }



/* ==========================================================================
   Header
   ========================================================================== */

.banner { border: none; }
.navbar-brand {
	height: 81px;
	width: 146px;
	display: block;
	background: url('../img/logo.png') no-repeat;
}
.navbar-nav {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 16px;
}
.nav>li {
	float: left;
	width: 50%;
	text-align: left;
	background: #e4e4e4;
	border-right: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
}
.navbar-toggle { margin-top: 20px; }
.navbar-collapse { border: none; }

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Contact
   ========================================================================== */

#map-canvas { height: 220px; width: 306px; margin-bottom: 23px;}
.headquarters { width: 306px; }
.blue-border { border: 1px solid #2e80c1; }

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
	background: #6a747c;
	color: #fff;
	font-size: 13px;
	min-height: 52px;
	a { display: inline-block; text-decoration: none; }
	.address-footer {
		margin-top: 14px;
		line-height: 25px;
		width: 259px;
		span {
			font-size: 13px;
			font-weight: 500;
			&.first { margin-left: 0; }
			&.border {
				display: inline-block;
				background: #fff;
				margin: 0 7px -2px 7px;
				height: 13px;
				width: 1px; }
		}
		.ftp {
			background: #4f575d;
			padding: 0 4px;
			margin-left: 10px;
			border: 1px solid #7f8b95;
			color: #fff;
		}
	}

	.social-footer {
		padding-top: 13px;
		padding-bottom: 20px;
		font-size: 16px;
		line-height: 26px;
		float: left;
		span { margin-right: 10px; }
		a {
			height: 27px;
			width: 27px;
			text-indent: -99999px;
			margin-right: 1px;
			&.linkedin { background: url('../img/social/linkedin.png') no-repeat; }
			&.facebook { background: url('../img/social/facebook.png') no-repeat; }
			&.youtube { background: url('../img/social/youtube.png') no-repeat; }
		}
	}
}

/* ==========================================================================
   Article
   ========================================================================== */
.category-about article, .category-about article {
	display: none;
	&.first-post { display: block; }
}

#sidebar-category {
	list-style: none;
	li {
		a { color: grey; text-decoration: none; }
		&.active {
			a { color: blue; }
		}
	}
}




/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Tablet */
@media (min-width: @screen-sm-min) {

	/* Header */
	.navbar-nav { margin-top: 0; }
	.navbar-nav>li>a {
		line-height: 50px;
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.nav>li {
		width: 16.66%;
		border-bottom: none;
		text-align: center;
		&:last-child { border: none; }
	}

	/* Footer */
	.content-info {
		.address-footer { width: 100%; }
		.social-footer { float: right; padding-bottom: 0; }
	}
}

/* Desktop */
@media (min-width: @screen-md-min) {

	/* Header */
	.banner .navbar-nav { float: right; }
	.navbar-brand { margin-left: 0 !important; }
	.navbar-form { margin-top: 23px; }
	.nav>li {
		background: inherit;
		border: none;
	}
}

@media (min-width: @screen-lg-min) { }
